@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0, .2);
    --bg-gradient: linear-gradient(#ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    --bg-portfolio: #FDF0D5;
}

* {
    /* outline: 3px solid red; */
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
    overflow: hidden;
}

.hero {
    height: 100vh;
    background-image: var(--bg-gradient);
    color: var(--color-bg);
}

.hero__main {
    --padding-container: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 100vh;
}

.hero__texts {
    width: 45%;
}

.hero__title {
    font-size: 4rem;
}

.hero__copy {
    font-weight: 300;
}

.hero__img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero__picture {
    max-width: 80%;
}

/* About section */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__texts {
    width: 45%;
}

.title {
    font-size: 3rem;
    color: var(--color-primary);
    text-align: var(--align-title);
}

.about__paragraph {
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 300;
}

.about__cta {
    font-size: 1.25em;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 1.05em 2em;
    border-radius: 30px;
}

.about__img {
    width: 50%;
    text-align: center;
    margin: 0;
}

.about__picture {
    max-width: 80%;
}

/* Portafolio */

.portfolio {
    background-color: var(--bg-portfolio);
}

.portfolio__cards {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio__card {
    width: 27%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.portfolio__img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 200px;
}

.portfolio__texts {
    padding: 2rem 1.25rem 2.25rem;
}

.portfolio__title {
    font-size: 1.45rem;
    text-align: center;
    color: var(--color-secondary);
    margin: 0;
}

.portfolio__paragraph {
    font-weight: 300;
    line-height: 1.35;
    margin: 24px 0;
}

.portfolio__cta {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    background-color: var(--color-secondary);
    color: #fff;
    border-radius: 30px;
}