@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --padding-container: 50px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0, .2);
    --bg-gradient: linear-gradient(#ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    --bg-portfolio: #FDF0D5;
}

* {
    /* outline: 3px solid red; */
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
    overflow: hidden;
}

.hero {
    height: 100vh;
    background-image: var(--bg-gradient);
    color: var(--color-bg);
}

.hero__main {
    --padding-container: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 100%;
}

.hero__texts {
    width: 45%;
}

.hero__title {
    font-size: 4rem;
}

.hero__copy {
    font-weight: 300;
}

.hero__img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero__picture {
    max-width: 80%;
}

/* About section */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__texts {
    width: 45%;
}

.title {
    font-size: 3rem;
    color: var(--color-primary);
    text-align: var(--align-title);
}

.about__paragraph {
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 300;
}

.about__cta {
    font-size: 1.25em;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 1.05em 2em;
    border-radius: 30px;
}

.about__img {
    width: 50%;
    text-align: center;
    margin: 0;
}

.about__picture {
    max-width: 80%;
}

/* Portafolio */

.portfolio {
    background-color: var(--bg-portfolio);
}

.portfolio__cards {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio__card {
    width: 27%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.portfolio__img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 200px;
}

.portfolio__texts {
    padding: 2rem 1.25rem 2.25rem;
}

.portfolio__title {
    font-size: 1.45rem;
    text-align: center;
    color: var(--color-secondary);
    margin: 0;
}

.portfolio__paragraph {
    font-weight: 300;
    line-height: 1.35;
    margin: 24px 0;
}

.portfolio__cta {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    background-color: var(--color-secondary);
    color: #fff;
    border-radius: 30px;
}

.copy {
    background-color: var(--color-primary);
}

.title--margin {
    color: #fff;
    margin: 0;
    font-size: 2.75rem;
}

img {
    max-width: 100%;
}

.gallery__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.gallery__img {
    width: 30%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;
}

.languages {
    background-color: var(--bg-portfolio);
    padding-bottom: 50px;
}

.languages__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.languages__img {
    width: 20%;
    height: 100px;
}

.contact {
    background-color: var(--color-primary);
}

.contact__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact__texts {
    --color-primary: #fff;
    width: 50%;
    text-align: center;
    color: var(--color-primary);
}

.contact__texts a {
    color: inherit;
}

.contact__icon.fa-brands {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 30px 30px;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 60px;
}

.contact__icon.fa-brands:hover {
    background-color: var(--color-primary);
    color: #f77062;
}

.contact__picture {
    width: 45%;
    text-align: center;
}

.contact__img {
    display: inline-block;
    width: 90%;
    height: 400px;
    margin: 0;
}

.contact__link {
    display: inline-block;
    margin: 0 20px 15px;
}

.contact__link:hover {
    text-decoration: none;
}


@media screen and (max-width: 800px) {

    .title {
        font-size: 2.4rem;
    }
    
    .hero {
        height: auto;
        min-height: 100vh;
    }

    .hero__main {
        --padding-container: 40px 0;
        justify-content: center;
    }

    .hero__img {
        width: 60%;
        margin-bottom: 2rem;
    }

    .hero__picture {
        max-width: 90%;
    }

    .hero__texts {
        width: 100%;
        text-align: center;
    }

    .hero__title {
        font-size: 3.5rem;
    }

    /* About section */

    .about {
        justify-content: center;
    }

    .about__texts {
        width: 85%;
        text-align: center;

        margin-bottom: 3rem;
    }

    .about__paragraph {
        text-align: center;
    }

    .about__img {
        width: 85%;
    }

    /* Portfolio */

    .portfolio__card {
        width: 45%;
        margin-bottom: 30px;
    }

    /* Gallery */

    .gallery__img {
        width: 45%;
    }

    .languages__container {
        justify-content: space-between;
    }

    .contact__container {
        flex-direction: column-reverse;
    }

    .contact__picture {
        width: 100%;
    }

    .contact__img {
        height: auto;
        width: 50%;
    }

    .contact__texts {
        width: 100%;
    }

}

@media screen and (max-width: 550px) {
    
    .hero__img {
        width: 100%;
    }

    .title {
        font-size: 2rem;
    }

    .about__paragraph {
        font-size: 1.15em;
    }

    .about__cta {
        font-size: 1.15em;
    }

    .portfolio__card, .gallery__img {
        width: 90%;
        max-width: 350px;
    }

    .languages {
        padding-bottom: 0;
    }

    .languages__img {
        width: 40%;
        margin-bottom: 25px;
    }

    .contact__img {
        width: 100%;
        max-width: 250px;
    }
}