.about {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.65px, #e5e5f7 0.65px);
  background-size: 13px 13px;

  &__img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }

  &__texts {
    margin-top: 3rem;
    text-align: center;
  }

  &__text {
    line-height: 1.5;
    margin: 1.5rem 0 1rem;
  }
}
