.comments {
  background-color: #e5e5f7;

  --p-container: 3.75rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    width: 28px;
    cursor: pointer;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 82%;
  }
}

.comment {
  opacity: 0;
  pointer-events: none;
  grid-column: 1/2;
  grid-row: 1/2;

  &--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1s ease-in-out;
  }

  &__role {
    display: inline-block;
    margin-top: 1rem;
    padding: 5px;
    background-color: #4169e1;
    color: #fff;
  }

  &__text {
    margin-top: 1.5rem;
    line-height: 1.15;
  }

  &__texts {
    margin-bottom: 3rem;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 30%;
  }
}
