@media (min-width: 600px) {
  .subtitle {
    font-size: 2em;
  }

  .start {
    &__title {
      font-size: 2.5em;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem 2rem;
  }

  .card {
    margin: 0;
    flex: 0 0 330px;

    &__price {
      margin: 0.75rem 0 2rem;
      font-size: 2.5em;
    }

    &--active {
      flex: 0 0 370px;
      padding: 3.5rem 0 4rem;
    }
  }

  .comments {
    --p-container: 6rem 0;
  }

  .comment {
    &__content {
      width: 83%;
    }

    &__role {
      margin-top: 0;
    }
  }
}

@media (min-width: 800px) {
  .menu {
    opacity: 1;
    position: static;
    flex-direction: row;
    background-color: transparent;

    &__toggle,
    &__close {
      display: none;
    }
  }

  .start {
    &__title {
      font-size: 3em;
    }
  }

  .about {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__picture {
      width: 49%;
    }

    &__texts {
      margin-top: 0;
      width: 49%;
      text-align: left;
    }

    &__text {
      line-height: 1.7;
    }
  }

  .comment {
    &__arrow {
      width: 45px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
    }

    &__texts {
      width: 55%;
    }

    &__picture {
      margin: 0;
    }

    &__img {
      width: 250px;
      height: 250px;
    }
  }
}

@media (min-width: 1024px) {
  .comment {
    &__content {
      width: 90%;
    }

    &__texts {
      width: 65%;
      max-width: 700px;
    }
  }
}
