@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  --nav-h: 6rem;
}

body {
  font-family: "League Spartan", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

img {
  max-width: 100%;
}

.container {
  padding: 2.5rem 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.brand {
  font-weight: 500;
}

.header {
  color: var(--white);
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.header__img {
  width: 100%;
  display: block;
  position: relative;
}
.header__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-h);
  background-color: var(--white);
  color: var(--very-dark-gray);
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.7s;
}
.nav:target {
  transform: translateX(0);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  gap: 2em;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.burger--hidden {
  opacity: 0;
}

.main__container {
  padding-bottom: 5rem;
}
.main__title {
  font-size: 2.25em;
  font-weight: 600;
}
.main__text {
  margin: 1.25rem 0 2rem;
  color: var(--dark-gray);
  line-height: 1.35;
}
.main__cta {
  text-decoration: none;
  color: inherit;
  letter-spacing: 10px;
}

.pagination {
  width: 125px;
  height: 70px;
  background-color: var(--black);
  display: flex;
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: end;
  align-self: end;
  z-index: 10;
}

.arrow {
  text-decoration: none;
  flex: auto;
  display: grid;
  place-content: center;
}
.arrow:hover {
  background-color: var(--very-dark-gray);
}
.arrow__img {
  width: 12px;
}

.about__img {
  display: block;
  margin: 0 auto;
}
.about__title {
  letter-spacing: 5px;
}
.about__text {
  margin-top: 1.5rem;
  color: var(--dark-gray);
  line-height: 1.35;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  :root {
    --nav-h: 3rem;
  }

  body {
    grid-template-columns: repeat(5, 1fr);
  }

  .nav {
    position: static;
    width: auto;
    transform: unset;
    background-color: transparent;
    color: unset;
  }
  .nav__link {
    font-weight: 500;
  }

  .burger,
.burger--hidden {
    display: none;
  }

  .header {
    grid-column: 1/4;
  }
  .header__img {
    position: static;
  }
  .header__container {
    width: 92%;
    justify-content: flex-start;
    gap: 3em;
  }

  .main,
.pagination {
    grid-column: 4/-1;
    grid-row: 1/-1;
  }

  .main {
    display: grid;
    place-content: center;
  }
  .main__container {
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .main__title {
    font-weight: 700;
  }

  .pagination {
    width: 38%;
    justify-self: start;
  }

  .about {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .about__img {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
  }
  .about__texts {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media (min-width: 1250px) {
  .main__title {
    font-size: 2.75em;
  }
}

/*# sourceMappingURL=style.css.map */
