@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
:root {
  --title-size: 3em;
  --subtitle-size: 2em;
  --p-container: 45px 0;
  --bg-cta: #444cf7;
  --color-cta: #fff;
  --color-gray: #615a5a;
  --size-img-topic: 80px;
  --angle-info: 80%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: var(--p-container);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.title {
  font-size: var(--title-size);
  line-height: 1.15;
}

.subtitle {
  font-size: var(--subtitle-size);
  line-height: 1.15;
}

.cta {
  display: block;
  text-decoration: none;
  background-color: var(--bg-cta);
  text-align: center;
  color: var(--color-cta);
  padding: 1.23em 0;
  width: 90%;
  margin: 0 auto;
}
.cta--white {
  width: 100%;
  background-color: var(--color-cta);
  color: var(--bg-cta);
}

.header {
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
  z-index: -1;
}
.header__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.25em;
}
.header__texts {
  text-align: center;
}
.header__text {
  font-size: 1.2em;
  line-height: 1.1;
  margin: 1.65rem 0 1.6rem;
}
.header__img {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.author {
  --p-container: 4rem 0;
  display: grid;
  gap: 1.25em;
  border-bottom: 2px solid #ccc;
}
.author__img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.author__title, .author__job {
  text-align: center;
}
.author__title {
  font-size: 1.5em;
}
.author__job {
  color: var(--bg-cta);
}
.author__text {
  color: var(--color-gray);
  font-style: italic;
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;
}

.about {
  --p-container: 6.5rem 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 2.5em;
}
.about__title {
  position: relative;
  padding-bottom: 0.6em;
}
.about__title::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background-color: var(--bg-cta);
  position: absolute;
  bottom: 0;
}
.about__text {
  margin-top: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}
.about__cta {
  width: 100%;
  margin-top: 1rem;
}

.topics {
  --p-container: 6rem 0;
  background-color: #f2f2f2;
}
.topics__text {
  margin-top: 1rem;
}
.topics__cards {
  width: 97%;
  margin: 4rem auto 0;
  display: grid;
  gap: 1em;
}

.topic {
  background-color: #fff;
  border-top: 5px solid #667eea;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 2.5rem 0;
}
.topic__picture {
  width: var(--size-img-topic);
  height: var(--size-img-topic);
  border-radius: 50%;
  background-color: var(--bg-cta);
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.topic__title {
  margin: 1.25rem 0;
  text-align: center;
  font-size: 1.5em;
}
.topic__text {
  font-weight: 300;
  margin: 0 auto;
  width: 90%;
}

.info {
  --p-container: 5rem 0 8rem;
  position: relative;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
}
.info::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% var(--angle-info), 50% 100%, 0 var(--angle-info));
  background-color: #fff;
  top: 0;
}
.info__container {
  position: relative;
  z-index: 10;
}
.info__card {
  background-color: #444cf7;
  color: #fff;
  padding: 1.25em;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.info__text {
  font-weight: 300;
  line-height: 1.5;
  margin: 1.5rem 0 1.25rem;
}
.info__picture {
  display: none;
}

.footer {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
}
.footer__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  border-bottom: 2px solid #918484;
  padding-bottom: 3em;
}
.footer__title {
  text-align: center;
}
.footer__text {
  font-weight: 300;
  margin: 1.5rem 0 3rem;
  text-align: center;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.footer__link {
  text-decoration: none;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  color: inherit;
  justify-content: center;
  align-items: center;
}
.footer__icon {
  width: 30px;
  height: 30px;
}
.footer__img {
  display: block;
  margin: 0 auto;
}
.footer__copy {
  margin-top: 1.75rem;
  text-align: center;
}
.footer__copy::after {
  content: "hola@alexcgdesign.com";
  display: inline-block;
}

@media (min-width: 400px) {
  .footer__social {
    width: 90%;
  }
}
@media (min-width: 500px) {
  :root {
    --angle-info: 88%;
  }

  .header {
    --p-container: 60px 0;
  }
  .header__texts {
    text-align: left;
  }
  .header__text {
    line-height: 1.15;
    margin: 1.6rem 0;
  }

  .title {
    --title-size: 3.8em;
  }

  .cta {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    display: inline-block;
    padding: 1.23em 2.2em;
  }

  .author__job, .author__text {
    width: 70%;
  }
  .author__job {
    margin: 0 auto;
  }

  .about {
    gap: 4.5em;
  }

  .subtitle {
    --subtitle-size: 2.5em;
  }

  .topics__cards {
    width: 100%;
    grid-template-areas: "t1 . " "t1 t2" "t3 t2" "t3 t4" " . t4";
  }

  .topic__text {
    width: 85%;
    margin: 0 auto;
  }

  .topic1 {
    grid-area: t1;
  }

  .topic2 {
    grid-area: t2;
  }

  .topic3 {
    grid-area: t3;
  }

  .topic4 {
    grid-area: t4;
  }

  .info {
    --p-container: 6rem 0 13rem;
  }
  .info__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .info__card {
    width: 97%;
    grid-column: 1/-2;
    grid-row: 2/-2;
    z-index: 10;
    padding: 1.85em;
  }
  .info__picture {
    display: unset;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
  .info__img {
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .about {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .about__texts {
    width: 50%;
  }
  .about__picture {
    width: 45%;
  }

  .title {
    font-size: 4em;
  }

  .header {
    --p-container: 9.35rem 0 9rem;
  }
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__texts {
    width: 60%;
  }
  .header__picture {
    width: 38%;
  }
  .header__img {
    width: 100%;
  }

  .topics__cards {
    gap: 1.25em;
    grid-template-areas: " . t1 . " "t2 t1 t3" "t2 t4 t3" " . t4 . ";
  }

  .info__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .info__card {
    grid-column: 1/4;
  }
  .info__picture {
    grid-column: 3/-1;
  }
  .info__text {
    margin: 1.25rem 0;
  }

  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .footer__title, .footer__text {
    text-align: left;
  }
  .footer__text {
    margin-top: 1.25rem;
  }
  .footer__social {
    justify-content: flex-start;
    margin: unset;
    width: auto;
    gap: 1.25em;
  }
  .footer__contact {
    width: 50%;
  }
  .footer__picture {
    width: 48%;
  }
}
@media (min-width: 850px) {
  .header {
    --p-container: 12rem 0 13rem;
  }

  .about {
    justify-content: space-between;
  }

  .footer {
    padding-bottom: 2.5em;
  }
  .footer__picture {
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
