.author {
  --p-container: 4rem 0;

  display: grid;
  gap: 1.25em;
  border-bottom: 2px solid #ccc;

  &__img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  &__title,
  &__job {
    text-align: center;
  }

  &__title {
    font-size: 1.5em;
  }

  &__job {
    color: var(--bg-cta);
  }

  &__text {
    color: var(--color-gray);
    font-style: italic;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
  }
}

.about {
  --p-container: 6.5rem 0;

  display: flex;
  flex-direction: column-reverse;
  gap: 2.5em;

  &__title {
    position: relative;
    padding-bottom: 0.6em;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 100px;
      background-color: var(--bg-cta);
      position: absolute;
      bottom: 0;
    }
  }

  &__text {
    margin-top: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
  }

  &__cta {
    width: 100%;
    margin-top: 1rem;
  }
}
