@media (min-width: 400px) {
  .footer__social {
    width: 90%;
  }
}

@media (min-width: 500px) {
  :root {
    --angle-info: 88%;
  }

  .header {
    --p-container: 60px 0;

    &__texts {
      text-align: left;
    }

    &__text {
      line-height: 1.15;
      margin: 1.6rem 0;
    }
  }

  .title {
    --title-size: 3.8em;
  }

  .cta {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    display: inline-block;
    padding: 1.23em 2.2em;
  }

  .author {
    &__job,
    &__text {
      width: 70%;
    }

    &__job {
      margin: 0 auto;
    }
  }

  .about {
    gap: 4.5em;
  }

  .subtitle {
    --subtitle-size: 2.5em;
  }

  .topics {
    &__cards {
      width: 100%;
      grid-template-areas:
        "t1 . "
        "t1 t2"
        "t3 t2"
        "t3 t4"
        " . t4";
    }
  }

  .topic {
    &__text {
      width: 85%;
      margin: 0 auto;
    }
  }

  .topic1 {
    grid-area: t1;
  }

  .topic2 {
    grid-area: t2;
  }

  .topic3 {
    grid-area: t3;
  }

  .topic4 {
    grid-area: t4;
  }

  .info {
    --p-container: 6rem 0 13rem;

    &__container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    &__card {
      width: 97%;
      grid-column: 1/-2;
      grid-row: 2/-2;
      z-index: 10;
      padding: 1.85em;
    }

    &__picture {
      display: unset;
      grid-column: 2/-1;
      grid-row: 1/-1;
    }

    &__img {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .about {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0;

    &__texts {
      width: 50%;
    }

    &__picture {
      width: 45%;
    }
  }

  .title {
    font-size: 4em;
  }

  .header {
    --p-container: 9.35rem 0 9rem;

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__texts {
      width: 60%;
    }

    &__picture {
      width: 38%;
    }

    &__img {
      width: 100%;
    }
  }

  .topics {
    &__cards {
      gap: 1.25em;
      grid-template-areas:
        " . t1 . "
        "t2 t1 t3"
        "t2 t4 t3"
        " . t4 . ";
    }
  }

  .info {
    &__container {
      grid-template-columns: repeat(5, 1fr);
    }

    &__card {
      grid-column: 1/4;
    }

    &__picture {
      grid-column: 3/-1;
    }

    &__text {
      margin: 1.25rem 0;
    }
  }

  .footer {
    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }

    &__title,
    &__text {
      text-align: left;
    }

    &__text {
      margin-top: 1.25rem;
    }

    &__social {
      justify-content: flex-start;
      margin: unset;
      width: auto;
      gap: 1.25em;
    }

    &__contact {
      width: 50%;
    }

    &__picture {
      width: 48%;
    }
  }
}

@media (min-width: 850px) {
  .header {
    --p-container: 12rem 0 13rem;
  }

  .about {
    justify-content: space-between;
  }

  .footer {
    padding-bottom: 2.5em;

    &__picture {
      width: 45%;
    }
  }
}
