* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --platinum: #EBEBEB;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

.card {
    width: 22rem;
    margin: 1rem auto;
    background-color: #3E363F;
    color: var(--platinum);
    border-radius: 8px;
    padding: 1.5em;
    box-shadow: 3px 3px 6px #ccc;
    background-image: linear-gradient(#3e363f8f, #3e363f8f), url(mountain.jpg);
    background-size: cover;
    background-position: center;
    
}

.card__title {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--platinum);
    margin-bottom: .5rem;
}

.card__desc {
    font-weight: 200;
    margin-bottom: .5rem;
    line-height: 2;
}

.card__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--platinum);
    border-radius: 3px;
    padding: 0.65em 1em;
    transition: all 1s;
}

.card__link:hover {
    background-color: var(--platinum);
    color: #3E363F;
}