@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-menu: #1a202c;
  --white: #fff;

  --h-header: 4.4rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: var(--bg-menu);
  height: var(--h-header);
  color: var(--white);
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: fixed;
  background-color: #000;
  top: var(--h-header);
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  transform: translateX(100%);
  transition: transform 0.5s;
  list-style: none;

  &__arrow {
    transition: transform 0.3s;
    transform: rotate(-90deg);
  }

  &__link {
    display: block;
    padding: 1.5em 1.85em;
    color: inherit;
    text-decoration: none;

    &:active,
    &:hover {
      background-color: #5e7094;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__toggle {
    padding-right: 0.85rem;
  }

  &__icon {
    display: block;
    width: 36px;
  }
}

.submenu {
  list-style: none;
  overflow: hidden;
  transition: height 0.3s;
  height: 0;

  &__item {
    margin-left: 2rem;
    border-left: 1px solid #798499;
  }
}

.rotate {
  transform: rotate(0);
}

.show {
  transform: translateX(0);
}

@media (min-width: 800px) {
  .menu {
    position: static;
    width: auto;
    max-width: unset;
    transform: none;
    transition: none;
    background-color: transparent;
    display: flex;

    &__item {
      position: relative;
    }

    &__toggle {
      display: none;
    }

    &__text {
      justify-content: flex-start;
    }
  }

  .submenu {
    background-color: #000;
    height: auto;
    overflow: visible;
    position: absolute;
    top: var(--h-header);
    left: -2rem;
    width: 125%;
    // transform: translateY(-100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    // transition: transform 0.5s;
    transition: clip-path 0.3s;
    z-index: -1;

    &__item {
      margin-left: 0;
      border-left: none;
    }
  }

  .menu__link--dropdown:hover + .submenu {
    // transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
